Repository blkbrds/intern14-practice, pull requests merged in 2019-08, with the labels that each got.

#66 BaiTap04 - HungPV
  BaiTap04/HungPV/BaiTapIB/BaiTapIB.xcodeproj/project.pbxproj
  BaiTap04/HungPV/BaiTapIB/BaiTapIB.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap04/HungPV/BaiTapIB/BaiTapIB.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/AppDelegate.swift
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Assets.xcassets/Contents.json
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Assets.xcassets/avatar.imageset/avatar-1.png
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Assets.xcassets/avatar.imageset/avatar-2.png
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Assets.xcassets/avatar.imageset/avatar.png
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap1/BaiTap1ViewController.swift
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap1/BaiTap1ViewController.xib
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap2/BaiTap2ViewController.swift
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap2/BaiTap2ViewController.xib
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap3/BaiTap3ViewController.swift
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap4/BaiTap4ViewController.swift
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap4/BaiTap4ViewController.xib
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap5/BaiTap5ViewController.swift
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/BaiTap5/BaiTap5ViewController.xib
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Base.lproj/LaunchScreen.storyboard
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Base.lproj/Main.storyboard
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/Info.plist
  BaiTap04/HungPV/BaiTapIB/BaiTapIB/ViewController.swift
  BaiTap05/HungPV/ExMVC/ExMVC.xcodeproj/project.pbxproj
  BaiTap05/HungPV/ExMVC/ExMVC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap05/HungPV/ExMVC/ExMVC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap05/HungPV/ExMVC/ExMVC/AppDelegate.swift
  BaiTap05/HungPV/ExMVC/ExMVC/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap05/HungPV/ExMVC/ExMVC/Assets.xcassets/Contents.json
  BaiTap05/HungPV/ExMVC/ExMVC/Assets.xcassets/num.imageset/Contents.json
  BaiTap05/HungPV/ExMVC/ExMVC/Assets.xcassets/num.imageset/num.png
  BaiTap05/HungPV/ExMVC/ExMVC/Assets.xcassets/test.imageset/Contents.json
  BaiTap05/HungPV/ExMVC/ExMVC/Assets.xcassets/test.imageset/test.png
  BaiTap05/HungPV/ExMVC/ExMVC/Base.lproj/LaunchScreen.storyboard
  BaiTap05/HungPV/ExMVC/ExMVC/Info.plist
  BaiTap05/HungPV/ExMVC/ExMVC/MVCViewController.swift
  BaiTap05/HungPV/ExMVC/ExMVC/MVCViewController.xib
Labels: IBOutlet & Actions

#63 BaiTap09 - ThanhNX
  BaiTap09/ThanhNX/CustomView/CustomView.xcodeproj/project.pbxproj
  BaiTap09/ThanhNX/CustomView/CustomView/AppDelegate/AppDelegate.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai1/Avatar/MyAvatar.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai1/Detail/ProfileViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai1/Home/Bai1ViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai2/MySliderView.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai2/MySliderView.xib
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai3/Bai3ViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai4/BadgeView/BadgeView.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai4/Home/Bai4ViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai4/MyButton/MyButton.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai5/Home/Bai5ViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai5/Home/Bai5ViewController.xib
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai5/PickerVC/PickerViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai5/PickerVC/PickerViewController.xib
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai6/Bai6VC/Bai6ViewController.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai6/ChartsData/Charts.swift
  BaiTap09/ThanhNX/CustomView/CustomView/BaiTap/Bai6/MyChart/MyChart.swift
  BaiTap09/ThanhNX/CustomView/CustomView/Models/Avatar.swift
  BaiTap09/ThanhNX/CustomView/CustomView/ViewController.swift
Labels: Custom View

#84 BaiTap02 - Swift Basic - AnNQ
  BaiTap02/AnNQ/Swift_Basic.playground/Contents.swift
  BaiTap02/AnNQ/Swift_Basic.playground/contents.xcplayground
Labels: Basic Swift

#38 BaiTap04 - DuongNT
  BaiTap04/DuongNT/BaiTap2/BaiTap2.xcodeproj/project.pbxproj
  BaiTap04/DuongNT/BaiTap2/BaiTap2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap04/DuongNT/BaiTap2/BaiTap2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap04/DuongNT/BaiTap2/BaiTap2/AppDelegate.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap04/DuongNT/BaiTap2/BaiTap2/Assets.xcassets/Contents.json
  BaiTap04/DuongNT/BaiTap2/BaiTap2/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap04/DuongNT/BaiTap2/BaiTap2/Assets.xcassets/avatar.imageset/avatar.png
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap2/ViewController.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap2/ViewController.xib
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap3/ListUsersViewController.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap3/ListUsersViewController.xib
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap3/User.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap4/LoginViewController.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap4/LoginViewController.xib
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap4/UserData.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap5/SliderViewController.swift
  BaiTap04/DuongNT/BaiTap2/BaiTap2/BaiTap5/SliderViewController.xib
  BaiTap04/DuongNT/BaiTap2/BaiTap2/Base.lproj/LaunchScreen.storyboard
  BaiTap04/DuongNT/BaiTap2/BaiTap2/Info.plist
Labels: IBOutlet & Actions

#95 BaiTap11 - ThanhNX
  BaiTap11/ThanhNX/PracticeTemplate/Protocol.xcodeproj/project.pbxproj
  BaiTap11/ThanhNX/PracticeTemplate/Protocol.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/AppDelegate/AppDelegate.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex1/Ex1ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex1/Ex1ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex10/Ex10ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex10/Ex10ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Ex2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Ex2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Ex3ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Ex3ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex4/Ex4ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex4/Ex4ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex5/Ex5ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex5/Ex5ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex6/Ex6ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex6/Ex6ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex7/Ex7ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex7/Ex7ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex8/Ex8ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex8/Ex8ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex9/Ex9ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex9/Ex9ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Home/HomeViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Home/HomeViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Core/BaseNavigationController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Core/BaseViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Info.plist
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/DataManagement/DataManagement.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/Objects/Exercise.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/Contents.json
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/ic_img_file_icon.imageset/Contents.json
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-48.png
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-96.png
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/exercises.plist
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Views/Cells/HomeCell/HomeCell.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Views/Cells/HomeCell/HomeCell.xib
Labels: Protocol

#96 BaiTap11 - TuNHT
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol.xcodeproj/project.pbxproj
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/AppDelegate/AppDelegate.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex1/Ex1ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex1/Ex1ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex10/Ex10ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex10/Ex10ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex2/Ex2ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex2/Ex2ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex3/Ex3ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex3/Ex3ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex4/Ex4ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex4/Ex4ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex5/Ex5ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex5/Ex5ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex6/Ex6ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex6/Ex6ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex7/Ex7ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex7/Ex7ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex8/Ex8ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex8/Ex8ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex9/Ex9ViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Ex9/Ex9ViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Home/HomeViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Controllers/Home/HomeViewController.xib
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Core/BaseNavigationController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Core/BaseViewController.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Info.plist
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Models/DataManagement/DataManagement.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Models/Objects/Exercise.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Resources/Assets.xcassets/Contents.json
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Resources/Assets.xcassets/ic_img_file_icon.imageset/Contents.json
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-48.png
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-96.png
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Resources/exercises.plist
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Views/Cells/HomeCell/HomeCell.swift
  BaiTap11/TuNHT/BaiTapProtocol/BaiTapProtocol/Views/Cells/HomeCell/HomeCell.xib
Labels: Protocol

#43 BaiTap05-DuongNT
  BaiTap05/DuongNT/TouchEvents/TouchEvents.xcodeproj/project.pbxproj
  BaiTap05/DuongNT/TouchEvents/TouchEvents.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap05/DuongNT/TouchEvents/TouchEvents.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap05/DuongNT/TouchEvents/TouchEvents/AppDelegate.swift
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/Contents.json
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/comment.imageset/Contents.json
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/comment.imageset/comment.png
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/monkey.imageset/Contents.json
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/monkey.imageset/monkey.png
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/pokemon.imageset/Contents.json
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Assets.xcassets/pokemon.imageset/pokemon.png
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap1/BallImageViewController.swift
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap1/BallImageViewController.xib
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap2/SliderViewController.swift
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap2/SliderViewController.xib
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap3/ColorButton.swift
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap3/DrawViewController.swift
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap3/DrawViewController.xib
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap4&5/MonkeyViewController.swift
  BaiTap05/DuongNT/TouchEvents/TouchEvents/BaiTap4&5/MonkeyViewController.xib
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Base.lproj/LaunchScreen.storyboard
  BaiTap05/DuongNT/TouchEvents/TouchEvents/Info.plist
Labels: Touch Event

#45 BaiTap07-DuongNT
  BaiTap07/DuongNT/MVC.xcodeproj/project.pbxproj
  BaiTap07/DuongNT/MVC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap07/DuongNT/MVC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap07/DuongNT/MVC/AppDelegate.swift
  BaiTap07/DuongNT/MVC/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap07/DuongNT/MVC/Assets.xcassets/Contents.json
  BaiTap07/DuongNT/MVC/Base.lproj/LaunchScreen.storyboard
  BaiTap07/DuongNT/MVC/Info.plist
  BaiTap07/DuongNT/MVC/Model/Operation.swift
  BaiTap07/DuongNT/MVC/View/CalculatorViewController.swift
  BaiTap07/DuongNT/MVC/View/CalculatorViewController.xib
Labels: MVC

#49 BaiTap08 - DuongNT
  BaiTap08/DuongNT/Navigation/Navigation.xcodeproj/project.pbxproj
  BaiTap08/DuongNT/Navigation/Navigation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap08/DuongNT/Navigation/Navigation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap08/DuongNT/Navigation/Navigation/AppDelegte/AppDelegate.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/A/AViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/A/AViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/B/BViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/B/BViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/C/CViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/C/CViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/D/DViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/D/DViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/E/EViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap1/E/EViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Edit/EditViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Edit/EditViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Files/users.plist
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Home/HomeViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Home/HomeViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Login/LoginViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Login/LoginViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap2/Models/User.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap3/ListUserInform.plist
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap3/ListUsers/ListUsersViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap3/ListUsers/ListUsersViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap3/Models/Users.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap3/UserDetail/UserDetailViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap3/UserDetail/UserDetailViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap4/BackGround/BackGroundViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/BaiTap4/BackGround/BackGroundViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/Info.plist
  BaiTap08/DuongNT/Navigation/Navigation/Menu/MenuViewController.swift
  BaiTap08/DuongNT/Navigation/Navigation/Menu/MenuViewController.xib
  BaiTap08/DuongNT/Navigation/Navigation/Models/FileManagements/FileManagers.swift
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/avatar.imageset/avatar.png
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/cancel.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/cancel.imageset/cancel@1x.png
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/cancel.imageset/cancel@2x.png
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image1.imageset/5E3E43E0-B9F0-4673-878B-4D160F675DE7.jpeg
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image1.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image2.imageset/30DFF547-1D41-4EFE-A6DB-46DE3DAF5BD1.jpeg
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image2.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image3.imageset/0833FF71-BB93-48DB-AF5C-3BAA6CD17C70.jpg
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image3.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image4.imageset/AA1661C2-E28C-41E8-AF9C-A72AC27EB3AB.jpeg
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image4.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image5.imageset/CC4CB25C-4617-4385-A9D1-FB6A291015DB.jpeg
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image5.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image6.imageset/Contents.json
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Assets.xcassets/image6.imageset/F08F19F7-2497-4641-9D12-E63B9E9D2FB8.jpeg
  BaiTap08/DuongNT/Navigation/Navigation/Resources/Base.lproj/LaunchScreen.storyboard
Labels: Navigation

#51 BaiTap07 - AnhLT
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc.xcodeproj/project.pbxproj
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/AppDelegate.swift
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Assets.xcassets/Contents.json
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Base.lproj/LaunchScreen.storyboard
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Ex01/Model/Model.swift
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Ex01/View/Ex01ViewController.swift
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Ex01/View/Ex01ViewController.xib
  BaiTap07/AnhLT/Baitap-mvc/Baitap-mvc/Info.plist
Labels: MVC

#93 BaiTap10 - DuongNT
  BaiTap10/DuongNT/AutoLayout/AutoLayout.xcodeproj/project.pbxproj
  BaiTap10/DuongNT/AutoLayout/AutoLayout/Controllers/Ex14/Ex14ViewController.swift
  BaiTap10/DuongNT/AutoLayout/AutoLayout/Controllers/Ex14/Ex14ViewController.xib
  BaiTap10/DuongNT/AutoLayout/AutoLayout/Controllers/Home/HomeViewController.swift
  BaiTap10/DuongNT/AutoLayout/AutoLayout/Resources/exercises.plist
Labels: Auto Layout

#98 BaiTap11-DuongNT
  BaiTap11/DuongNT/Protocol/Protocol.xcodeproj/project.pbxproj
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex2/Ex2ViewController.swift
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex2/Ex2ViewController.xib
  BaiTap11/DuongNT/Protocol/Protocol/Models/FileManagerments/FileManagers.swift
  BaiTap11/DuongNT/Protocol/Protocol/Models/Objects/Users.swift
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/avatar.imageset/img9.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img1.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img1.imageset/img1.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img2.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img2.imageset/img2.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img3.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img3.imageset/img3.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img4.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img4.imageset/img4.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img5.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img5.imageset/img5.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img6.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img6.imageset/img6.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img7.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img7.imageset/img7.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img8.imageset/Contents.json
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Assets.xcassets/img8.imageset/img8.jpeg
  BaiTap11/DuongNT/Protocol/Protocol/Resources/exercises.plist
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex2/Detail/MyAvatarDetailViewController.swift
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex2/Detail/MyAvatarDetailViewController.xib
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex2/MyAvatarView.swift
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex2/MyAvatarView.xib
Labels: Protocol

#103 BaiTap11 - ThanhNX
  BaiTap11/ThanhNX/PracticeTemplate/Bai1Protocol.playground/Contents.swift
  BaiTap11/ThanhNX/PracticeTemplate/Bai1Protocol.playground/contents.xcplayground
Labels: Protocol

#71 KiemTraLan2 - DuongNT
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest.xcodeproj/project.pbxproj
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/AppDelegate/AppDelegate.swift
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Controller/MainViewController.swift
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Controller/MainViewController.xib
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Resources/Assets.xcassets/Contents.json
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Resources/Assets.xcassets/edit.imageset/Contents.json
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Resources/Assets.xcassets/edit.imageset/edit@1x.png
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Resources/Base.lproj/LaunchScreen.storyboard
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Resources/Info.plist
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Views/PopUpView.swift
  KiemTraLan2/Duong/CustomViewTest/CustomViewTest/Views/PopUpView.xib
  KiemTraLan2/Duong/FarmManagerments.playground/Contents.swift
  KiemTraLan2/Duong/FarmManagerments.playground/contents.xcplayground
Labels: KiemTraLan 2

#73 KiemTra2 - ThanhNX
  KiemTraLan2/Thanh/Bai1play.playground/Contents.swift
  KiemTraLan2/Thanh/Bai1play.playground/contents.xcplayground
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2.xcodeproj/project.pbxproj
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/AppDelegate.swift
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Assets.xcassets/AppIcon.appiconset/Contents.json
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Assets.xcassets/Contents.json
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Assets.xcassets/pen.imageset/Contents.json
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Assets.xcassets/pen.imageset/pen.png
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Home/ViewController.swift
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Home/ViewController.xib
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Info.plist
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Popup/MyPopupView.swift
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/Popup/MyPopupView.xib
  KiemTraLan2/Thanh/Bai2Test2/Bai2Test2/ViewController.swift
Labels: KiemTraLan 2

#74 KiemTra2 - HungPV
  KiemTra1/HungPV/MyPlayground.playground/Contents.swift
  KiemTra1/HungPV/MyPlayground.playground/contents.xcplayground
  KiemTraLan2/Hung/TestIntern.playground/Contents.swift
  KiemTraLan2/Hung/TestIntern.playground/contents.xcplayground
Labels: KiemTraLan 2

#102 BaiTap11-DuongNT
  BaiTap11/DuongNT/Ex1.playground/Contents.swift
Labels: Protocol

#105 BaiTap11-DuongNT
  BaiTap11/DuongNT/Protocol/Protocol.xcodeproj/project.pbxproj
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex5/Ex5ViewController.swift
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex5/Ex5ViewController.xib
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex5/Ex5CustomView.swift
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex5/Ex5CustomView.xib
Labels: Protocol

#109 BaiTap11 - ThanhNX
  BaiTap11/ThanhNX/PracticeTemplate/Protocol.xcodeproj/project.pbxproj
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex4/Ex4ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex4/Ex4ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/Objects/City.swift
Labels: Protocol

#106 BaiTap3 - ThanhNX
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex3/Tinh/TinhViewController.swift
  BaiTap11/DuongNT/Protocol/Protocol/Views/Cells/MienCell/CustomCell.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol.xcodeproj/project.pbxproj
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Ex3ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Ex3ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Home/Ex3P2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Home/Ex3P2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Huyen/HuyenP2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Huyen/HuyenP2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Mien/MienP2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Mien/MienP2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Tinh/TinhP2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Tinh/TinhP2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Tinh/MienViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Tinh/MienViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex4/Ex4ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Home/HomeViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Core/BaseViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/Objects/Huyen.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/Objects/Mien.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/Objects/Tinh.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Views/Cells/CustomCell/CustomCell.swift
Labels: Protocol

#108 BaiTap08 - HungPV
  BaiTap08/HungPV/ExNavigation/ExNavigation.xcodeproj/project.pbxproj
  BaiTap08/HungPV/ExNavigation/ExNavigation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap08/HungPV/ExNavigation/ExNavigation.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap08/HungPV/ExNavigation/ExNavigation/AppDelegate/AppDelegate.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/VcB.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewA.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewA.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewB.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewB.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewC.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewC.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewD.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewD.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewE.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap01/ViewE.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap02/EditViewController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap02/EditViewController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap02/LoginController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap02/LoginController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap02/WelcomeViewController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap02/WelcomeViewController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap03/MyAvatarViewController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap03/MyAvatarViewController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap03/ProfileViewController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap03/ProfileViewController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap04/CustomNaviBarViewController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/BaiTap04/CustomNaviBarViewController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/ExNaviViewController.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/ExNaviViewController.xib
  BaiTap08/HungPV/ExNavigation/ExNavigation/Info.plist
  BaiTap08/HungPV/ExNavigation/ExNavigation/Models/DataManagement/DataManagement.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/Models/Objects/UserInfo.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/Models/Objects/Users.swift
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/Contents.json
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/avatar.imageset/avatar-1.png
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/avatar.imageset/avatar.png
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/background.imageset/Contents.json
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/background.imageset/background-1.png
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/background.imageset/background.png
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/icon.imageset/Contents.json
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/icon.imageset/icon.png
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/icon1.imageset/Contents.json
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/Assets.xcassets/icon1.imageset/icon1.png
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/ListUsers.plist
  BaiTap08/HungPV/ExNavigation/ExNavigation/Resources/users.plist
  _templates/PracticeTemplate/PracticeTemplate.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  _templates/PracticeTemplate/PracticeTemplate/Models/DataManagement/DataManagement.swift
Labels: Navigation

#85 BaiTap07 - HungPV
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc.xcodeproj/project.pbxproj
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc/AppDelegate.swift
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc/Assets.xcassets/Contents.json
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc/Info.plist
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc/MVCCalculatorViewController.swift
  BaiTap07/HungPV/ExMVCCalc/ExMVCCalc/MVCCalculatorViewController.xib
Labels: MVC

#112 Feature/an nq/bai tap03 - View
  BaiTap03/AnNQ/BaiTapVIew/BaiTapVIew.xcodeproj/project.pbxproj
  BaiTap03/AnNQ/BaiTapVIew/BaiTapVIew/AppDelegate.swift
  BaiTap03/AnNQ/BaiTapVIew/BaiTapVIew/Ex4/Ex04ViewController.swift
  BaiTap03/AnNQ/BaiTapVIew/BaiTapVIew/Ex5/Ex05ViewController.swift
Labels: View

#107 BaiTap11-DuongNT
  BaiTap11/DuongNT/Protocol/Protocol.xcodeproj/project.pbxproj
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex4/Ex4ViewController.swift
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex6/Ex6ViewController.swift
  BaiTap11/DuongNT/Protocol/Protocol/Controllers/Ex6/Ex6ViewController.xib
  BaiTap11/DuongNT/Protocol/Protocol/Info.plist
  BaiTap11/DuongNT/Protocol/Protocol/Models/Objects/BrsuhInfor.swift
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex6/Ex6SettingsVC.swift
  BaiTap11/DuongNT/Protocol/Protocol/Views/Ex6/Ex6SettingsVC.xib
Labels: Protocol

#101 BaiTap2 - ThanhNX
  BaiTap11/ThanhNX/PracticeTemplate/Protocol.xcodeproj/project.pbxproj
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Cell/UserView.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Cell/UserView.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Ex2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Ex2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Home/Ex2ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Home/Ex2ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Profile/ProfileViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex2/Profile/ProfileViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Models/Avatar/Avatar.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/ic-ava.imageset/Contents.json
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Resources/Assets.xcassets/ic-ava.imageset/ic-ava.png
Labels: Protocol

#116 BaiTap6 - ThanhNX
  BaiTap11/ThanhNX/PracticeTemplate/Protocol.xcodeproj/project.pbxproj
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex5/Ex5ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex6/Ex6ViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex6/Ex6ViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex6/Settings/SettingsViewController.swift
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex6/Settings/SettingsViewController.xib
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Info.plist
Labels: Protocol

#114 Feature/AnNQ/BaiTap04 - IBOutlet and IBAction
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action.xcodeproj/project.pbxproj
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/AppDelegate.swift
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Assets.xcassets/Contents.json
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Assets.xcassets/avatar.imageset/avatar.jpg
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Base.lproj/LaunchScreen.storyboard
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex01/Ex01ViewController.swift
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex01/Ex01ViewController.xib
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex02/Ex02ViewController.swift
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex02/Ex02ViewController.xib
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex03/Ex03ViewController.swift
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex04/Ex04ViewController.swift
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex04/Ex04ViewController.xib
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex05/Ex05ViewController.swift
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Ex05/Ex05ViewController.xib
  BaiTap04/AnNQ/Baitap-Outlet-Action/Baitap-Outlet-Action/Info.plist
Labels: IBOutlet & Actions

#117 BaiTap12 - ThanhNX
  BaiTap12/ThanhNX/PracticeTemplate/TableView.xcodeproj/project.pbxproj
  BaiTap12/ThanhNX/PracticeTemplate/TableView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView/AppDelegate/AppDelegate.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex1/Ex1ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex1/Ex1ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex10/Ex10ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex10/Ex10ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex11/Ex11ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex11/Ex11ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex12/Ex12ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex12/Ex12ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex2/Ex2ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex2/Ex2ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex3/Ex3ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex3/Ex3ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex4/Ex4ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex4/Ex4ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex5/Ex5ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex5/Ex5ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex6/Ex6ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex6/Ex6ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex7/Ex7ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex7/Ex7ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex8/Ex8ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex8/Ex8ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex9/Ex9ViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Ex9/Ex9ViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Home/HomeViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Controllers/Home/HomeViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Core/BaseNavigationController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Core/BaseViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Info.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Models/DataManagement/DataManagement.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Models/Objects/Exercise.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Models/President/PresidentViewController.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Models/President/PresidentViewController.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Models/UserName/UserName.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/Contents.json
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic-president.imageset/Contents.json
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic-president.imageset/ic-president.png
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic-rating.imageset/Contents.json
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic-rating.imageset/ic-rating.png
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic_img_file_icon.imageset/Contents.json
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-48.png
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Assets.xcassets/ic_img_file_icon.imageset/icons8-document-96.png
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Ex2/ex2.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Ex6/ex6China.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/Ex6/ex6France.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Resources/exercises.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/Ex7Cell/Ex7Cell.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/Ex7Cell/Ex7Cell.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/HomeCell/HomeCell.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/HomeCell/HomeCell.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/NameUserCell/ExCell.xib
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/NameUserCell/NameUserCell.swift
  BaiTap12/ThanhNX/PracticeTemplate/TableView/Views/Cells/NameUserCell/NameUserCell.xib
Labels: Table View

#118 BaiTap13-DuongNT
  BaiTap13/DuongNT/ContactList/ContactList.xcodeproj/project.pbxproj
  BaiTap13/DuongNT/ContactList/ContactList.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap13/DuongNT/ContactList/ContactList.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap13/DuongNT/ContactList/ContactList/AppDelegate/AppDelegate.swift
  BaiTap13/DuongNT/ContactList/ContactList/Controllers/ContactListViewController.swift
  BaiTap13/DuongNT/ContactList/ContactList/Controllers/ContactListViewController.xib
  BaiTap13/DuongNT/ContactList/ContactList/FileManagers/ContactList/contactList.plist
  BaiTap13/DuongNT/ContactList/ContactList/FileManagers/FileManager/FileManagers.swift
  BaiTap13/DuongNT/ContactList/ContactList/Info.plist
  BaiTap13/DuongNT/ContactList/ContactList/Models/ContactInfor.swift
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Assets.xcassets/Contents.json
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Assets.xcassets/avatar.imageset/avatar@2x.jpeg
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Assets.xcassets/avatarDefault.imageset/Contents.json
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Assets.xcassets/avatarDefault.imageset/avatarDefault.jpeg
  BaiTap13/DuongNT/ContactList/ContactList/Resources/Base.lproj/LaunchScreen.storyboard
  BaiTap13/DuongNT/ContactList/ContactList/Views/AlertCustom/AlertsVC.swift
  BaiTap13/DuongNT/ContactList/ContactList/Views/Cells/ContactCell.swift
  BaiTap13/DuongNT/ContactList/ContactList/Views/Cells/ContactCell.xib
  BaiTap13/DuongNT/ContactList/ContactList/Views/DatePickerView/MyDatePickerView.swift
  BaiTap13/DuongNT/ContactList/ContactList/Views/DatePickerView/MyDatePickerView.xib
  BaiTap13/DuongNT/ContactList/ContactList/Views/Details/DetailViewController.swift
  BaiTap13/DuongNT/ContactList/ContactList/Views/Details/DetailViewController.xib
  BaiTap13/DuongNT/ContactList/ContactList/Views/GenderPickerView/GenderPickerView.swift
  BaiTap13/DuongNT/ContactList/ContactList/Views/GenderPickerView/GenderPickerView.xib
Labels: Contact List

#119 BaiTap14 - ThanhNX
  BaiTap14/ThanhNX/TabbarController/TabbarController.xcodeproj/project.pbxproj
  BaiTap14/ThanhNX/TabbarController/TabbarController.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/AppDelegate.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-favorites-selected.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-favorites-selected.imageset/ic-favorites-selected.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-favorites.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-favorites.imageset/ic-favorites.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-home-selected.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-home-selected.imageset/ic-home-selected.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-home.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-home.imageset/ic-home.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-map-selected.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-map-selected.imageset/ic-map-selected.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-map.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-map.imageset/ic-map.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-profile-selected.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-profile-selected.imageset/ic-profile-selected.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-profile.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/AppDelegate/Assets.xcassets/ic-profile.imageset/ic-profile.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-favorites.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-favorites.imageset/ic-favorites.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-home.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-home.imageset/ic-home.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-map.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-map.imageset/ic-map.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-profile.imageset/Contents.json
  BaiTap14/ThanhNX/TabbarController/TabbarController/Assets.xcassets/ic-profile.imageset/ic-profile.png
  BaiTap14/ThanhNX/TabbarController/TabbarController/Base/BaseNavigationController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Base/BaseViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Base/BaseViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/Favorites/FavoritesViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/Favorites/FavoritesViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/Map/MapViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/Map/MapViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/NavigationController/ForgotPassword/ForgotPwViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/NavigationController/ForgotPassword/ForgotPwViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/NavigationController/Login/LoginViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/NavigationController/Login/LoginViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/NavigationController/Register/RegisterViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/NavigationController/Register/RegisterViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/Profile/ProfileViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/Profile/ProfileViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/TabbarController/Home/HomeViewController.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Controllers/TabbarController/Home/HomeViewController.xib
  BaiTap14/ThanhNX/TabbarController/TabbarController/Info.plist
  BaiTap14/ThanhNX/TabbarController/TabbarController/Model/FileManagers.swift
  BaiTap14/ThanhNX/TabbarController/TabbarController/Model/User.swift
Labels: TabbarController
