Repository blkbrds/intern14-practice, pull requests merged in 2019-09, with the labels that each got.

#121 Feature/AnNQ/Baitap05 - Touch Event
  BaiTap05/AnNQ/Touch-Event/Touch-Event.xcodeproj/project.pbxproj
  BaiTap05/AnNQ/Touch-Event/Touch-Event.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap05/AnNQ/Touch-Event/Touch-Event.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap05/AnNQ/Touch-Event/Touch-Event/AppDelegate.swift
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/Contents.json
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/Image-1.imageset/Contents.json
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/Image-1.imageset/chat.png
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/Image.imageset/Contents.json
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/Image.imageset/monkey.jpg
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/ball.imageset/Contents.json
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Assets.xcassets/ball.imageset/pkm-ball.jpeg
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Base.lproj/LaunchScreen.storyboard
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex01/Ex01ViewController.swift
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex01/Ex01ViewController.xib
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex02/Ex02ViewController.swift
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex02/Ex02ViewController.xib
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex03/ColorButton.swift
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex03/Ex03ViewController.swift
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex03/Ex03ViewController.xib
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex04/Ex04ViewController.swift
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Ex04/Ex04ViewController.xib
  BaiTap05/AnNQ/Touch-Event/Touch-Event/Info.plist
Labels: Touch Event

#128 BaiTap12 - HungPV
  BaiTap12/HungPV/ExTableView/ExTableView.xcodeproj/project.pbxproj
  BaiTap12/HungPV/ExTableView/ExTableView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap12/HungPV/ExTableView/ExTableView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap12/HungPV/ExTableView/ExTableView/AppDelegate/AppDelegate.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap01/Ex01ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap01/Ex01ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap02/Ex02ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap02/Ex02ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap03/Detail03/Detail03ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap03/Detail03/Detail03ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap03/Home03/Ex03ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap03/Home03/Ex03ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap04/Ex04ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap04/Ex04ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap05/Ex05DetailViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap05/Ex05DetailViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap05/Ex05ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap05/Ex05ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap07/Ex07ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap07/Ex07ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap08/Ex08ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap08/Ex08ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap09/Ex09ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap09/Ex09ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap10/Ex10ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap10/Ex10ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap11/Ex11ViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/BaiTap11/Ex11ViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/Home/HomeViewController.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Controller/Home/HomeViewController.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Info.plist
  BaiTap12/HungPV/ExTableView/ExTableView/Models/CustomCell/CustomCell.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Models/CustomCell/CustomCell.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Models/CustomCell11/CustomCell11.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Models/CustomCell11/CustomCell11.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Models/CustomCell11/a.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Models/CustomCell11/a.xib
  BaiTap12/HungPV/ExTableView/ExTableView/Models/DataMangement/DataManagement.swift
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Assets.xcassets/Contents.json
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Assets.xcassets/ex08.imageset/Contents.json
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Assets.xcassets/ex08.imageset/ex08.jpg
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Assets.xcassets/ic-like.imageset/Contents.json
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Assets.xcassets/ic-like.imageset/ic-like.png
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Base.lproj/LaunchScreen.storyboard
  BaiTap12/HungPV/ExTableView/ExTableView/Resources/Ex02.plist
  BaiTap12/ThanhNX/PracticeTemplate/TableView.xcodeproj/project.pbxproj
  BaiTap12/ThanhNX/PracticeTemplate/TableView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Labels: Table View

#127 BaiTap11 - HungPV
  BaiTap11/DuongNT/Protocol/Protocol.xcodeproj/project.pbxproj
  BaiTap11/DuongNT/Protocol/Protocol/Resources/Ex3/miens.plist
  BaiTap11/HungPV/ExProtocol/BaiTap01Protocol.playground/Contents.swift
  BaiTap11/HungPV/ExProtocol/BaiTap01Protocol.playground/contents.xcplayground
  BaiTap11/HungPV/ExProtocol/ExProtocol.xcodeproj/project.pbxproj
  BaiTap11/HungPV/ExProtocol/ExProtocol.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap11/HungPV/ExProtocol/ExProtocol.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap11/HungPV/ExProtocol/ExProtocol/AppDelegate/AppDelegate.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap01/Ex01ViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap01/Ex01ViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/DiaDiem/Ex03ViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/DiaDiem/Ex03ViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/Huyen/HuyenViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/Huyen/HuyenViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/Mien/MienViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/Mien/MienViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/Tinh/TinhViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap03/Tinh/TinhViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap04/Ex04ViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/BaiTap04/Ex04ViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/HomeViewController/HomeViewController.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/HomeViewController/HomeViewController.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/Info.plist
  BaiTap11/HungPV/ExProtocol/ExProtocol/Models/BaiTap03/Huyen.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/Models/BaiTap03/Mien.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/Models/BaiTap03/Tinh.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/Models/CustomCell/CustomTableViewCell.swift
  BaiTap11/HungPV/ExProtocol/ExProtocol/Models/CustomCell/CustomTableViewCell.xib
  BaiTap11/HungPV/ExProtocol/ExProtocol/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap11/HungPV/ExProtocol/ExProtocol/Resources/Assets.xcassets/Contents.json
  BaiTap11/HungPV/ExProtocol/ExProtocol/Resources/Base.lproj/LaunchScreen.storyboard
  BaiTap11/ThanhNX/PracticeTemplate/Protocol/Controllers/Ex3/Part 2/Mien/MienP2ViewController.swift
Labels: Protocol

#129 BaiTap14 - HungPV
  BaiTap08/ThanhNX/Navigation/Navigation.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap14/HungPV/ExTabbar/ExTabbar.xcodeproj/project.pbxproj
  BaiTap14/HungPV/ExTabbar/ExTabbar.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap14/HungPV/ExTabbar/ExTabbar.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap14/HungPV/ExTabbar/ExTabbar/AppDelegate/AppDelegate.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/NavigationController/ForgotViewController/ForgotViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/NavigationController/ForgotViewController/ForgotViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/NavigationController/LoginViewController/LoginViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/NavigationController/LoginViewController/LoginViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/NavigationController/RegisterViewController/RegisterViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/NavigationController/RegisterViewController/RegisterViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Favorites/FavoriteViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Favorites/FavoriteViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Home/HomeViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Home/HomeViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Map/MapViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Map/MapViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Profile/ProfileViewController.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Controller/TabBarController/Profile/ProfileViewController.xib
  BaiTap14/HungPV/ExTabbar/ExTabbar/Info.plist
  BaiTap14/HungPV/ExTabbar/ExTabbar/Models/DataManagment/DataManagment.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Models/Objects/User.swift
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-at.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-at.imageset/ic-at.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-background.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-background.imageset/ic-background.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-favorite-white.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-favorite-white.imageset/ic-favorite-white.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-home-white.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-home-white.imageset/ic-home-white-1.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-home-white.imageset/ic-home-white-2.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-home-white.imageset/ic-home-white.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-lock.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-lock.imageset/ic-lock.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-map-white.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-map-white.imageset/ic-map-white.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-profile-white.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-profile-white.imageset/ic-profile-white.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-register.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-register.imageset/ic-register.jpg
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-tech.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-tech.imageset/ic-tech.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-user.imageset/Contents.json
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Assets.xcassets/ic-user.imageset/ic-user.png
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Base.lproj/LaunchScreen.storyboard
  BaiTap14/HungPV/ExTabbar/ExTabbar/Resources/Users.plist
  BaiTap14/ThanhNX/TabbarController/TabbarController.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Labels: TabbarController

#132 Baitap07-MVC
  BaiTap07/AnNQ/MVC/MVC.xcodeproj/project.pbxproj
  BaiTap07/AnNQ/MVC/MVC.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap07/AnNQ/MVC/MVC.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap07/AnNQ/MVC/MVC/AppDelegate.swift
  BaiTap07/AnNQ/MVC/MVC/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap07/AnNQ/MVC/MVC/Assets.xcassets/Contents.json
  BaiTap07/AnNQ/MVC/MVC/Base.lproj/LaunchScreen.storyboard
  BaiTap07/AnNQ/MVC/MVC/Controller/CalculatorViewController.swift
  BaiTap07/AnNQ/MVC/MVC/Controller/CalculatorViewController.xib
  BaiTap07/AnNQ/MVC/MVC/Info.plist
  BaiTap07/AnNQ/MVC/MVC/Model/CalculatorButton.swift
Labels: MVC

#134 TuanDQ - Bai tap 01
  BaiTap01/TuanDQ/ArrayIntReplace.playground/Contents.swift
  BaiTap01/TuanDQ/ArrayIntReplace.playground/contents.xcplayground
  BaiTap01/TuanDQ/CalculateOfSphere.playground/Contents.swift
  BaiTap01/TuanDQ/CalculateOfSphere.playground/contents.xcplayground
  BaiTap01/TuanDQ/FindSubString.playground/Contents.swift
  BaiTap01/TuanDQ/FindSubString.playground/contents.xcplayground
  BaiTap01/TuanDQ/PermutationRanom.playground/Contents.swift
  BaiTap01/TuanDQ/PermutationRanom.playground/contents.xcplayground
  BaiTap01/TuanDQ/Quadratic.playground/Contents.swift
  BaiTap01/TuanDQ/Quadratic.playground/contents.xcplayground
  BaiTap01/TuanDQ/SequenseOfNumber.playground/Contents.swift
  BaiTap01/TuanDQ/SequenseOfNumber.playground/contents.xcplayground
  BaiTap01/TuanDQ/quadraticSystem.playground/Contents.swift
  BaiTap01/TuanDQ/quadraticSystem.playground/contents.xcplayground
Labels: Basic Swift

#135 TuanDQ - Bai tap 02 Swift OOP
  BaiTap02/TuanDQ/CStack.playground/Contents.swift
  BaiTap02/TuanDQ/CStack.playground/contents.xcplayground
  BaiTap02/TuanDQ/ClassA.playground/Contents.swift
  BaiTap02/TuanDQ/ClassA.playground/contents.xcplayground
  BaiTap02/TuanDQ/Fraction.playground/Contents.swift
  BaiTap02/TuanDQ/Fraction.playground/contents.xcplayground
  BaiTap02/TuanDQ/Mang1c.playground/Contents.swift
  BaiTap02/TuanDQ/Mang1c.playground/contents.xcplayground
  BaiTap02/TuanDQ/MyDate.playground/Contents.swift
  BaiTap02/TuanDQ/MyDate.playground/contents.xcplayground
  BaiTap02/TuanDQ/Polygon.playground/Contents.swift
  BaiTap02/TuanDQ/Polygon.playground/contents.xcplayground
  BaiTap02/TuanDQ/Shapes.playground/Contents.swift
  BaiTap02/TuanDQ/Shapes.playground/contents.xcplayground
  BaiTap02/TuanDQ/Student.playground/Contents.swift
  BaiTap02/TuanDQ/Student.playground/contents.xcplayground
Labels: Swift OOP
