Repository blkbrds/intern14-practice, pull requests merged in 2019-10, with the labels that each got.

#138 TuanDQ - Bai tap 05 Touch Event
  BaiTap05/TuanDQ/1-Ball move.png
  BaiTap05/TuanDQ/1-Ball.png
  BaiTap05/TuanDQ/2-Slider move.png
  BaiTap05/TuanDQ/2-Slider.png
  BaiTap05/TuanDQ/3-Paint complete.png
  BaiTap05/TuanDQ/3-Paint.png
  BaiTap05/TuanDQ/4-Monkey.png
  BaiTap05/TuanDQ/5-Monkey Double touch.png
  BaiTap05/TuanDQ/5-Monkey Single touch.png
  BaiTap05/TuanDQ/5-Monkey.png
  BaiTap05/TuanDQ/Advance game.png
  BaiTap05/TuanDQ/TouchEvent/TouchEvent.xcodeproj/project.pbxproj
  BaiTap05/TuanDQ/TouchEvent/TouchEvent.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap05/TuanDQ/TouchEvent/TouchEvent.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/AppDelegate.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Assets.xcassets/Contents.json
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/BallScreen/BallMoveViewController.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/BallScreen/BallMoveViewController.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Base.lproj/LaunchScreen.storyboard
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/CustomSlider/SliderViewController.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/CustomSlider/SliderViewController.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/GameAdvance/GameItemView.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/GameAdvance/GameItemView.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/GameAdvance/GameMonkeyViewController.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/GameAdvance/GameMonkeyViewController.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/ImageZoom/MonkeyViewController.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/ImageZoom/MonkeyViewController.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Info.plist
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Monkey/MonkeySpeakViewController.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Monkey/MonkeySpeakViewController.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Paint/CustomDrawView.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Paint/DrawCanvasView.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Paint/LinePoint.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Paint/MyPaintViewController.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/Paint/MyPaintViewController.xib
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/SceneDelegate.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/ball.png
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/monkey.png
  BaiTap05/TuanDQ/TouchEvent/TouchEvent/speakclear.png
  BaiTap05/TuanDQ/TouchEvent/TouchEventTests/Info.plist
  BaiTap05/TuanDQ/TouchEvent/TouchEventTests/TouchEventTests.swift
  BaiTap05/TuanDQ/TouchEvent/TouchEventUITests/Info.plist
  BaiTap05/TuanDQ/TouchEvent/TouchEventUITests/TouchEventUITests.swift
Labels: Touch Event

#142 BaiTap1-HoangPT
  BaiTap01/HoangPT/B1.playground/Contents.swift
  BaiTap01/HoangPT/B1.playground/contents.xcplayground
  BaiTap01/HoangPT/B2.playground/Contents.swift
  BaiTap01/HoangPT/B2.playground/contents.xcplayground
  BaiTap01/HoangPT/B3.playground/Contents.swift
  BaiTap01/HoangPT/B3.playground/contents.xcplayground
  BaiTap01/HoangPT/B4.playground/Contents.swift
  BaiTap01/HoangPT/B4.playground/contents.xcplayground
  BaiTap01/HoangPT/B5.playground/Contents.swift
  BaiTap01/HoangPT/B5.playground/contents.xcplayground
  BaiTap01/HoangPT/B6.playground/Contents.swift
  BaiTap01/HoangPT/B6.playground/contents.xcplayground
  BaiTap01/HoangPT/B7.playground/Contents.swift
  BaiTap01/HoangPT/B7.playground/contents.xcplayground
Labels: Basic Swift

#141 TuanDQ - Bai tap 08 Navigation
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype.xcodeproj/project.pbxproj
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/AppDelegate.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/Assets.xcassets/Contents.json
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/Base.lproj/LaunchScreen.storyboard
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/CustomNavigation/GradientViewController.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/CustomNavigation/GradientViewController.xib
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/Info.plist
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewA/ViewControllerA.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewA/ViewControllerA.xib
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewB/ViewControllerB.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewB/ViewControllerB.xib
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewC/ViewControllerC.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewC/ViewControllerC.xib
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewD/ViewControllerD.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewD/ViewControllerD.xib
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewE/ViewControllerE.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/NavigationPrototype/ViewE/ViewControllerE.xib
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototype/SceneDelegate.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototypeTests/Info.plist
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototypeTests/NavigationPrototypeTests.swift
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototypeUITests/Info.plist
  BaiTap08/TuanDQ/NavigationPrototype/NavigationPrototypeUITests/NavigationPrototypeUITests.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement.xcodeproj/project.pbxproj
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/AppDelegate.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Assets.xcassets/Contents.json
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Base.lproj/LaunchScreen.storyboard
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Base.lproj/Main.storyboard
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/CommonConstant.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Components/AvatarItemView.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Components/AvatarItemView.xib
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Components/avatar.png
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/EditInformation/EditInformationViewController.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/EditInformation/EditInformationViewController.xib
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Home/HomeViewController.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Home/HomeViewController.xib
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Info.plist
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Login/LoginViewController.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/Login/LoginViewController.xib
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/PersonDetail/PersonDetailViewController.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/PersonDetail/PersonDetailViewController.xib
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/SceneDelegate.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/ViewController.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/controller/BusinessController.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/dummyData/UserInformation.plist
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/model/UserDomain.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagement/model/UserModel.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagementTests/Info.plist
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagementTests/PersonsManagementTests.swift
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagementUITests/Info.plist
  BaiTap08/TuanDQ/PersonsManagement/PersonsManagementUITests/PersonsManagementUITests.swift
Labels: Navigation

#147 AnNQ_Tab Bar
  BaiTap14/AnNQ/TabBarController/TabBarController.xcodeproj/project.pbxproj
  BaiTap14/AnNQ/TabBarController/TabBarController.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap14/AnNQ/TabBarController/TabBarController.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap14/AnNQ/TabBarController/TabBarController/AppDelegate/AppDelegate.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/AppDelegate/SceneDelegate.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/ForgotPassword/ForgotPasswordViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/ForgotPassword/ForgotPasswordViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Friend/FriendViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Friend/FriendViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Home/HomeViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Home/HomeViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Login/LoginViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Login/LoginViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Message/MessageViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Message/MessageViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Profile/ProfileViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Profile/ProfileViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Register/RegisterViewController.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Controllers/Register/RegisterViewController.xib
  BaiTap14/AnNQ/TabBarController/TabBarController/Info.plist
  BaiTap14/AnNQ/TabBarController/TabBarController/Models/DataManagement/DataManagement.swift
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/Contents.json
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/friend_icon.imageset/Contents.json
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/friend_icon.imageset/icons8-add-user-group-man-man-50.png
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/home_icon.imageset/Contents.json
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/home_icon.imageset/icons8-home-page-48.png
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/message_icon.imageset/Contents.json
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/message_icon.imageset/icons8-message-exchange-48.png
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/profile_icon.imageset/Contents.json
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Assets.xcassets/profile_icon.imageset/icons8-user-50.png
  BaiTap14/AnNQ/TabBarController/TabBarController/Resources/Base.lproj/LaunchScreen.storyboard
Labels: TabbarController

#148 AnNQ_CollectionView - Home Screen
  BaiTap16/AnNQ/CollectionView/CollectionView.xcodeproj/project.pbxproj
  BaiTap16/AnNQ/CollectionView/CollectionView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap16/AnNQ/CollectionView/CollectionView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap16/AnNQ/CollectionView/CollectionView/AppDelegate/AppDelegate.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/AppDelegate/SceneDelegate.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Detail/DetailViewController.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Detail/DetailViewController.xib
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Friend/FriendViewController.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Friend/FriendViewController.xib
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Home/HomeViewController.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Home/HomeViewController.xib
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Message/MessageViewController.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Message/MessageViewController.xib
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Profile/ProfileViewController.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Controllers/Profile/ProfileViewController.xib
  BaiTap16/AnNQ/CollectionView/CollectionView/Info.plist
  BaiTap16/AnNQ/CollectionView/CollectionView/Models/DataManagement/DataManagement.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Models/Objects/NibName.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Models/Objects/Place.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/cf-1.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/cf-1.imageset/thumb-1920-421545.jpg
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/cf-2.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/cf-2.imageset/osen-listia-fon-derevo-kofe-colorful-kruzhka-chashka-vintage.jpg
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/cf-3.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/cf-3.imageset/screen-0.jpg
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/coffee.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/coffee/coffee.imageset/images (1).jpeg
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/collection.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/collection.imageset/icons8-clapperboard-50.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/favorite.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/favorite.imageset/icons8-star-50 (1).png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/friend.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/friend.imageset/icons8-user-account-50.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/home.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/home.imageset/icons8-home-50.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/left_arrow.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/left_arrow.imageset/icons8-chevron-left-96.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/message.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/message.imageset/icons8-new-message-50.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/profile.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/profile.imageset/icons8-account-50.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/right_arrow.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/right_arrow.imageset/icons8-chevron-right-96.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/star.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/star.imageset/icons8-star-50.png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/table.imageset/Contents.json
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Assets.xcassets/icon/table.imageset/icons8-clapperboard-50 (1).png
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Base.lproj/LaunchScreen.storyboard
  BaiTap16/AnNQ/CollectionView/CollectionView/Resources/Places.plist
  BaiTap16/AnNQ/CollectionView/CollectionView/Views/PlaceCollectionViewCell.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Views/PlaceCollectionViewCell.xib
  BaiTap16/AnNQ/CollectionView/CollectionView/Views/PlaceTableViewCell.swift
  BaiTap16/AnNQ/CollectionView/CollectionView/Views/PlaceTableViewCell.xib
Labels: CollectionView - HomeScreen

#146 Feature/AnNQ/BaiTap12 - TableView
  BaiTap12/AnNQ/TableView/TableView.xcodeproj/project.pbxproj
  BaiTap12/AnNQ/TableView/TableView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  BaiTap12/AnNQ/TableView/TableView.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  BaiTap12/AnNQ/TableView/TableView/AppDelegate/AppDelegate.swift
  BaiTap12/AnNQ/TableView/TableView/AppDelegate/SceneDelegate.swift
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex1/Ex1ViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex1/Ex1ViewController.xib
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex4/Ex4ViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex4/Ex4ViewController.xib
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex5/Ex5ViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex5/Ex5ViewController.xib
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex9/Ex9ViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Controllers/Ex9/Ex9ViewController.xib
  BaiTap12/AnNQ/TableView/TableView/Controllers/Home/HomeViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Controllers/Home/HomeViewController.xib
  BaiTap12/AnNQ/TableView/TableView/Core/BaseNavigationController.swift
  BaiTap12/AnNQ/TableView/TableView/Core/BaseViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Info.plist
  BaiTap12/AnNQ/TableView/TableView/Models/DataManagement/DataManagement.swift
  BaiTap12/AnNQ/TableView/TableView/Models/Objects/Animal.swift
  BaiTap12/AnNQ/TableView/TableView/Models/Objects/Creature.swift
  BaiTap12/AnNQ/TableView/TableView/Models/Objects/Exercise.swift
  BaiTap12/AnNQ/TableView/TableView/Models/Objects/TableViewCell.swift
  BaiTap12/AnNQ/TableView/TableView/Models/Objects/User.swift
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/Contents.json
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/avatar.imageset/84463.jpg
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/avatar.imageset/Contents.json
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/call_button.imageset/Contents.json
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/call_button.imageset/call-button.jpg
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/heart_icon.imageset/Contents.json
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/heart_icon.imageset/istockphoto-914933448-612x612.jpg
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/love_icon.imageset/Contents.json
  BaiTap12/AnNQ/TableView/TableView/Resources/Assets.xcassets/love_icon.imageset/heart-red-icon-vector-14356456.jpg
  BaiTap12/AnNQ/TableView/TableView/Resources/Base.lproj/LaunchScreen.storyboard
  BaiTap12/AnNQ/TableView/TableView/Resources/Ex01-5/contacts.plist
  BaiTap12/AnNQ/TableView/TableView/Resources/Ex01-5/skypes.plist
  BaiTap12/AnNQ/TableView/TableView/Resources/Ex09/animals.plist
  BaiTap12/AnNQ/TableView/TableView/Resources/Ex09/users.plist
  BaiTap12/AnNQ/TableView/TableView/Resources/exercises.plist
  BaiTap12/AnNQ/TableView/TableView/Views/Cells/Ex09/AnimalCell.swift
  BaiTap12/AnNQ/TableView/TableView/Views/Cells/Ex09/AnimalCell.xib
  BaiTap12/AnNQ/TableView/TableView/Views/Cells/Ex09/UserCell.swift
  BaiTap12/AnNQ/TableView/TableView/Views/Cells/Ex09/UserCell.xib
  BaiTap12/AnNQ/TableView/TableView/Views/Cells/HomeCell/HomeCell.swift
  BaiTap12/AnNQ/TableView/TableView/Views/Cells/HomeCell/HomeCell.xib
  BaiTap12/AnNQ/TableView/TableView/Views/Ex03/Ex03ViewController.swift
  BaiTap12/AnNQ/TableView/TableView/Views/Ex03/Ex03ViewController.xib
Labels: Table View
